.second {
  width: 100%;
  height: 100vh;
  //padding: 25px 0 55px;
  background: #efe1e9;
  position: relative;
  display: flex;
  align-items: center;

  .sprite {
    position: absolute;
    width: 100%;
    max-width: 60%;
    height: auto;
    top: 0;
    left: 0;
  }

  &__main {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    //margin: 100px auto 0;

    .title {
      color: #641358;
      font-family: 'Source Code Pro', monospace;
      font-weight: 400;
      font-size: 48px;
      line-height: 60px;
    }

    .advantages {
      position: relative;
      width: 100%;

      &__box {
        display: flex;
        align-items: center;

        .line {
          position: relative;
          width: 190px;
          height: 1px;
          background: #520F81;
          margin-right: 30px;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #520F81;
          }
        }
      }

      &__content {
        margin-top: 105px;
        font-family: 'Source Code Pro', monospace;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;


        .item {
          width: 100%;
          max-width: 425px;
          min-height: 450px;
          background: #FFFFFF;
          box-shadow: 2px 4px 35px rgba(164, 0, 255, 0.1), -2px -2px 30px rgba(164, 0, 255, 0.1);
          border-radius: 5px;
          padding: 80px 32px 60px;
          position: relative;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;

          &__circle {
            position: absolute;
            top: -33px;
            left: 50%;
            transform: translateX(-50%);
            background: #A400FF;
            width: 66px;
            height: 66px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
              content: '';
              position: absolute;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              background: rgba(164, 0, 255, 0.5);
              z-index: -1;
            }

            &::after {
              content: '';
              position: absolute;
              width: 94px;
              height: 94px;
              border-radius: 50%;
              background: rgba(164, 0, 255, 0.25);
              z-index: -1;
            }
          }

          &__title {
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            color: #121212;
          }
          &__text {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: #121212;
            margin: 40px auto 0;
          }
        }
      }
    }
  }
}