// Color
$main-color: #0b0b22;
$preloader-color: #060618;
$preloader-color-light: #1d2140;
$footer-color: #040318;
$text-color: #fff;
$button-color: #6ab842;


// Media
$breakpoint-576: 576;
$breakpoint-768: 768;
$breakpoint-992: 992;
$breakpoint-1200: 1200;